/* #002efda2  */
* {
  color: #292929;
}
.main-container {
  width: 100%;
  height: 100%;
  padding: 0;
}

#filter-container {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
#search-filter {
  width: 100%;
  height: 50px;
  border: none;
  padding: 1rem 1rem;
}
#search-filter:focus {
  outline: none;
}
#filter-btn {
  width: 50px;
  height: 50px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fdb814;

  font-size: 1.2rem;
  color: #fff;
}
#main-section {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: row;
}

#info-detail {
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  flex: 1;
  overflow-y: auto;
  height: 100%;
}
#info-detail img {
  width: 80%;
}

#moreBtn {
  background-color: #002efda2;
  width: 100%;
  color: #fff;
  font-weight: bold;
  border-radius: 20px;
  padding: 0.5rem;
}
#map {
  width: 100%;
  height: 100%;
}
#main-list-container {
  width: 500px;
  height: 100%;
}

.main-list {
  width: 100%;
  height: 100%;
}

#main-list {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
}

.test {
  height: 100%;
  background-color: lightgray;
  flex: 0.3;
}
.list-item {
  display: flex;
  width: 100%;
  height: 160px;
  padding: 1rem 1rem;
  position: relative;
}
@keyframes bgcolor {
  from {
  }
  to {
    background-color: lightgray;
  }
}
.list-item:hover {
  animation: bgcolor 0.3s forwards;
}
.likebtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 20px;
}

.customoverlay {
  background-color: white;
  border: 1px solid skyblue;
  padding: 0.3rem 0.3rem;
  border-radius: 30px;
}

#list-item-container {
  height: 100%;
  overflow-y: auto;
}
.list-item-detail {
  margin-left: 0.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex: 0.7;
}
.list-item-detail h3 {
  color: rgb(34, 34, 34);
  flex-wrap: wrap;
  font-family: SpoqaHanSans;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
}
.list-item-detail h5 {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
}
.list-item-detail label {
  color: #aaa;
  font-size: 14px;
}
