.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-center {
  display: flex;
  align-items: center;
}

/* body */
.page-container {
  width: 100%;
  height: 100%;
  padding: 60px 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.page-container h1 {
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qna-router {
  font-size: 24px;
  color: #292929;
  margin-left: 12px;
}

.qna-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.qna-item {
}

@keyframes show {
  from {
    transform: translate(0, -3%);
  }
  to {
    transform: translate(0, 3%);
  }
}
.qna-detail-container {
  margin: 0 6rem 0 3rem;
  animation: show 0.5s forwards;
}

.qna-item p {
  width: 100%;
  line-height: 2;
  border-bottom: 1px solid #fdb814;
  padding-bottom: 12px;
  /* display:none; */
}

.qna-item-intro {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  cursor: pointer;
  padding: 10px 0;
}

@keyframes onItem {
  from {
    background-color: #fff;
  }
  to {
    background-color: #fdb814;
    color: #fff;
  }
}
.qna-item-intro:hover > .qna-item-title {
  animation: onItem 0.3s forwards;
}
.qna-item-intro:hover > .qna-item-date {
  animation: onItem 0.3s forwards;
}
.qna-item-intro:hover > .qna-item-logo {
  animation: onItem 0.3s forwards;
}

.qna-item-logo {
  color: #fdb814;
  font-size: 50px;
  flex: 1;
  height: 100%;
}

.qna-item-title {
  flex: 10;
  font-weight: 700;
  color: #666;
  flex-wrap: wrap;
  font-size: 20px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qna-item-date {
  flex: 2;
  text-align: center;
  color: #aaa;
  height: 100%;
}

.qna-item-reply-container {
}

.reply-form-container img {
  width: 48px;
  height: 48px;
}

.reply-form-container {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
}

.reply-form-container label {
  line-height: 1.8;
}

.reply-btn {
  float: right;
  width: 50px;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: transparent;
  color: #292929;
  font-weight: bold;
  border: 2px solid #292929;
  font-size: 12px;
  margin-left: 2px;
}

@keyframes btnclick {
  from {
  }
  to {
    color: #fff;
    background-color: #292929;
  }
}
.reply-btn:hover {
  animation: btnclick 0.3s forwards;
}

.qna-textarea {
  width: 100%;
  height: 300px;
  padding: 0.5rem;
  font-size: 20px;
  resize: none;
}

.qna-input {
  flex: 10;
  flex-wrap: wrap;
  font-size: 20px;
  height: 48px;
  width: 100%;
}
