.all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical-center {
  display: flex;
  align-items: center;
}

/* body */
.main-container {
  width: 100%;
  height: 100%;
  padding-left: 90px;
}

.page-container {
  width: 100%;
  height: 100%;
  background-color: #292929;
  display: flex;
  align-items: center;
}

.left-container {
  flex: 1;
  background-color: #fff;
  width: 100%;
  height: 100%;
  flex-direction: column;
  color: #292929;
}

.right-container {
  flex: 1;
  background-image: url("../assets/pattern1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.left-container h1 {
  font-size: 40px;
}

.user-input {
  padding: 0.5rem;
  border: 2px solid #fdb814;
  border-radius: 12px;
  width: 16rem;
  margin: 12px 0;
}

.text-danger {
  color: #f32013;
  font-weight: bold;
}

.text-primary {
  color: #002efda2;
  font-weight: bold;
}

.form-btn {
  padding: 0.5rem 0.5rem;
  width: 16rem;
  background-color: #fdb814;
  border: 2px solid #fdb814;
  border-radius: 12px;
  margin: 6px 6px;
  font-weight: bold;
  font-size: 1rem;
}

.small-text-container {
  margin-top: 30px;
}
.small-text-container a {
  color: gray;
}
