#map {
  width: 100%;
  height: 100%;
}

.kakao-station-container {
  width: 400px;
  min-height: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  border-radius: 20px;
  overflow-y: auto;
}

.kakao-station-list::-webkit-scrollbar {
  display: none;
}

.kakao-station-input {
  width: 100%;
  border-radius: 12px;
  padding: 0.3rem;
}

.kakao-station-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.kakao-station-item {
  line-height: 2.5;
  font-weight: bold;
  width: 100%;
  padding-left: 0.5rem;
  border-radius: 8px;
}

@keyframes itemhover {
  from {
  }
  to {
    background-color: #fdb814;
  }
}
.kakao-station-item:hover {
  animation: itemhover 0.3s forwards;
}

.kakao-station-line {
  color: gray;
}

.kakao-keyword-container {
  width: 210px;
  min-height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.75rem;
  border-radius: 20px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.kakao-keyword-container::-webkit-scrollbar {
  display: none;
}

.kakao-keyword-container h1 {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.between svg {
  cursor: pointer;
}

.kakao-keyword-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.kakao-keyword-list::-webkit-scrollbar {
  display: none;
}

.hide-checkbox {
  display: none;
}

.checkbox-btn {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #292929;
  text-align: center;
  margin-right: 2px;
}

.hide-checkbox + label {
  cursor: pointer;
  color: transparent;
  vertical-align: middle;
}

.hide-checkbox:checked + label {
  color: #292929;
  background-color: #fdb814;
}

.hide-checkbox:checked + label svg {
  padding-bottom: 20px;
  cursor: pointer;
}

.kakao-keyword-item {
  display: flex;
  align-items: center;
  line-height: 2.5;
}

.absolute {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 20px;
  cursor: pointer;
  height: fit-content;
  cursor: pointer;
}

.kakao-flip-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 120px;
  height: 120px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@keyframes vivid {
  from {
  }
  to {
    opacity: 1;
  }
}

.apart1 {
  background-color: #fdb814;
}

.apart2 {
  background-color: #1cbaef;
}

.kakao-flip-relative {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 120px;
  font-family: "Nanum Pen Script", cursive;
  font-size: 40px;
  line-height: 1;
  cursor:pointer;
}

.slider {
  width: 100%;
  z-index: 9;
  padding-top: 12px;
}

/* 여기서부터 병원 버튼 */
.hospital_button {
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 30px;
  font-size: 0.8em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.hospital_button:hover {
  background: #fff;
  color: #1aab8a;
}
.hospital_button:before,
.hospital_button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
.hospital_button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.hospital_button:hover:before,
.hospital_button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
