#map {
  width: 100%;
  height: 100%;
}

.kakao-station-container {
  width: 400px;
  min-height: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  border-radius: 20px;
  overflow-y: auto;
}

.kakao-station-input {
  width: 100%;
  border-radius: 12px;
  padding: 0.3rem;
}

.kakao-station-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.kakao-station-item {
  line-height: 2.5;
  font-weight: bold;
  width: 100%;
  padding-left: 0.5rem;
  border-radius: 8px;
}

@keyframes itemhover {
  from {
  }
  to {
    background-color: #fdb814;
  }
}
.kakao-station-item:hover {
  animation: itemhover 0.3s forwards;
}

.kakao-station-line {
  color: gray;
}

.kakao-keyword-container {
  width: 210px;
  min-height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 99999;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.75rem;
  border-radius: 20px;
  overflow-y: auto;
}

.kakao-keyword-container h1 {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0;
}

.between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.between svg {
  cursor: pointer;
}

.kakao-keyword-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.hide-checkbox {
  display: none;
}

.checkbox-btn {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid #292929;
  text-align: center;
  margin-right: 2px;
}

.hide-checkbox + label {
  cursor: pointer;
  color: transparent;
  vertical-align: middle;
}

.hide-checkbox:checked + label {
  color: #292929;
  background-color: #fdb814;
}

.hide-checkbox:checked + label svg {
  padding-bottom: 20px;
  cursor: pointer;
}

.kakao-keyword-item {
  display: flex;
  align-items: center;
  line-height: 2.5;
}

.kakao-overlay-container {
  width: fit-content;
  padding: 0.5rem 0.75rem;
  border: 1px solid #fdb814;
  color: #292929;
  border-radius: 12px;
  background-color: #fff;
}

.absolute {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 20px;
  cursor: pointer;
  height: fit-content;
  cursor: pointer;
}

.kakao-flip-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 100px;
  height: 100px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kakao-flip-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.apart1 {
  background-image: url("@/assets/apart1.jpg");
}

.apart2 {
  background-image: url("@/assets/apart2.jpg");
}

.kakao-flip-relative {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.kakao-flip-text{
  position:absolute;
  top:0;
  left:1;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color:red
}