<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.happyhouse.model.mapper.UserMapper">

	<insert id="register" parameterType="UserDto" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO USER
		( USER_ID, PASSWORD, NAME, PHONE, ROLE)
		VALUES( #{userId}, #{password}, #{name}, #{phone}, 0)
	</insert>
	
	<select id="selectOne" resultMap="uuu">
		SELECT * FROM USER
		WHERE USER_ID = #{userId} AND PASSWORD = #{password}
	</select>
	
	<select id="detailOne" resultMap="uuu">
		SELECT * FROM USER
		WHERE USER_ID = #{user_id}
	</select>
	
	<update id="findPw" >
		UPDATE USER SET PASSWORD = #{new_pass} WHERE USER_ID = #{user_id};
	</update>
	
	<resultMap type="com.ssafy.happyhouse.model.dto.UserDto" id="uuu">
		<result column="ID" property="id"/> 
		<result column="USER_ID" property="userId"/> 
		<result column="PASSWORD" property="password"/> 
		<result column="NAME" property="name"/> 
		<result column="PHONE" property="phone"/> 
		<result column="ROLE" property="role"/>
	</resultMap>
	
	<select id="listMember" resultMap="uuu">
		SELECT * FROM USER
	</select>
	
	<select id="search" resultMap="uuu">
		SELECT * 
		FROM USER
		WHERE USER_ID LIKE CONCAT('%', #{word}, '%') OR NAME LIKE CONCAT('%', #{word}, '%') OR PHONE LIKE CONCAT('%', #{word}, '%')
	</select>
	
	<update id="updateMember" parameterType="UserDto">
		UPDATE USER SET password=#{password}, NAME=#{name}, PHONE=#{phone}
		WHERE USER_ID = #{userId};
	</update>
	
	<delete id="deleteMember">
		delete from USER
		where USER_ID = #{userId}
	</delete>
	
	<select id="idCheck" resultType="int">
		SELECT count(USER_ID) 
		FROM USER
		WHERE USER_ID = #{checkId}
	</select>
	
</mapper>